# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

# composer vendor dir
/yii2/vendor

# composer itself is not needed
/yii2/composer.phar

# yii2 runtime debug folder
/yii2/runtime/debug

# yii2 tests folder
/yii2/tests/_output/*
/yii2/tests/_support/_generated

# yii2 vagrant folder
/yii2/vagrant

# yii2 web folder
/yii2/web/assets

# yii2 themes
/yii2/themes/
/yii2/themes/AdminLTE/
